/Spell.class
/FieldSpell.class
/LeechingSpell.class
/MinionTargetSpell.class
/CurseOfWeakness.class
/DivineSpirit.class
/Flamestrike.class
/HolyNova.class
/KillCommand.class
/LevelUp.class
/MultiShot.class
/Polymorph.class
/Pyroblast.class
/SealOfChampions.class
/ShadowWordDeath.class
/SiphonSoul.class
/TwistingNether.class
/AOESpell.class
/HeroTargetSpell.class
